* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;

}

/* ..................................................... Nav */


.nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: whitesmoke;
    color: rgb(41, 37, 33);
}

.nav a {
    text-decoration: none;
    color: rgb(41, 37, 33);
    padding-left: 1.1em;
    
}

.nav a:hover {
    color: brown;
    font-size: 1.35rem;
}

.nav-links { 
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.8rem;
    font-weight: bold;
}

.logo {
    font-size: 1.75rem;
}

/*  ...................................................... Main Section */

.section-main {
    background-image: url("/assets/images/boitumelo-phetla-0DJHJcpwN9Q-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1em 1fr 1fr;
    grid-area: 
        "header header"
        "body body"
        "date ."
            ;
}

.main-header {
    color: whitesmoke;
    grid-area: header;
    grid-row: 3;
    font-size: 2rem;
    text-shadow: 0 2px 4px black;
    padding-bottom: 3em;

}

.main-text {
    color: rgb(255, 255, 255);
    grid-area: text;
    grid-row: 3;
    align-self: end;
    justify-self: start;
    max-width: 75%;
    padding-bottom: 2.5em;
    text-shadow: 0 2px 15px black;
    font-size: 0.85rem;
    line-height: 1.2;
    letter-spacing: 0.75px;
    
}

.main-date {
    color: rgb(255, 255, 255);
    grid-area: date;
    grid-row: 2 / 3 ;
    align-self: end;
    text-shadow: 0 2px 3px black;
    padding-bottom: 2.5em;

}

span {
    color: rgb(6, 247, 247);
}



/*  ................................................... Section Body */

.section-body {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

.container1,
.container2,
.container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 2em;
    }


.image-body1 {
    background-image: url('/assets/images/girl-with-red-hat-Z6SXt1v5tP8-unsplash.jpg');
    background-size: cover;
    height: 400px;
    margin-bottom: 1em;
}


.image-body2, 
.image-body3, 
.image-body4,
.image-body5,
.image-body6 {
    background-size: cover;
    height: 400px;
    margin: 15px auto;
}

.image-body2 {
    background-image: url('/assets/images/linus-mimietz-gvptKmonylk-unsplash.jpg');
}

.image-body3 {
    background-image: url('/assets/images/nicole-avagliano-qNM9zdGGPrg-unsplash.jpg');
}

.image-body4{
    background-image: url('/assets/images/hannes-kottner-MWYTI67gFM0-unsplash.jpg')

}

.image-body5 {
    background-image: url('/assets/images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg');
}

.image-body6 {
    background-image: url('/assets/images/uriel-soberanes-MxVkWPiJALs-unsplash.jpg');
}

.display-blog {
    display: none;
}

.blog-date {
    padding-bottom: 1em;
}

.view-btn {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    margin: 25px auto;
    font-size: 1.3rem;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    font-weight: bold;
    cursor: pointer;
}

.blog-text {
    color: rgb(27, 27, 27);
    line-height: 1.4;
}


@media (min-width: 600px) {
    
    .nav {
        padding: 1rem 4rem;
    }

    .nav a {
        font-size: 1.5rem;
    }
    
    .logo {
        font-size: 2.25rem;
    }

    .display-blog {
        display: none;
    }

    .section-main {
        min-height: 800px;
        position: relative;
        display: grid;
        grid-template-columns: 1em 1fr 1fr;
        grid-area: 
        "header header"
        "body body"
        "date ."
            ;
    }

    .main-header {
        color: whitesmoke;
        position: absolute;
        left: 20px;
        top: 550px;
        grid-area: header;
        grid-row: 5;
        grid-column: 2 / 4 ;
        font-size: 4rem;
        text-shadow: 0 2px 4px black;
    
    
    }
    
    .main-text {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 20px;
        bottom: 40px;
        grid-area: text;
        grid-row: 5;
        grid-column: 2;
        align-self: end;
        justify-self: start;
        max-width: 75%;
        padding-bottom: 2.5em;
        text-shadow: 0 2px 15px black;
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: 0.75px;
    
        
    }
    
    .main-date {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 25px;
        bottom: 200px;
        grid-area: date;
        grid-column: 2 / 2;
        grid-row: 3 ;
        align-self: end;
        text-shadow: 0 2px 3px black;
        padding-bottom: 2.5em;
    
    }

    .container1,
    .container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 2em;
    }


    .image-container1,
    .image-container2,
    .image-container3,
    .image-container4 {
        height: 750px;
    }

    .image-body2 {
        margin-top: 0;
    }

    .image-body1,
    .image-body2,
    .image-body5,
    .image-body6 {
        height: 500px;
    }

    /* .display-blog {
        display: flex;

    } */
 



    

}